<div class="flex items-center justify-center h-screen">
  <div class="gap-4 flex flex-col items-center">
    <h1 class="font-bold text-blue-900 text-2xl text-center">New recipe</h1>
    <%= render "form", recipe: @recipe %>
    <div>
      <%= link_to "< Back to recipes", recipes_path, class:'text-blue-600
      hover:text-blue-700 underline decoration-transparent
      hover:decoration-inherit transition duration-300 ease-in-out' %>
    </div>
  </div>
</div>
